#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

header{
width:100%;
height: 50px;
background-color: white;
border-top-left-radius:20px;
border-top-right-radius:20px;
text-align: center;
color:#000000;
font-size: 35px;
font-family: "Times New Roman", Times, serif;
}

nav{
word-spacing: 5px;
width:100%;
height: 80px;
//background-color: #47B1FF;
//background-color: #000899;
background-color: #000000;
//text-align:center;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
color:white;
//border-radius: 5px;


}
#mainwrapper{
display:flex;
}

main{
width:92%;
height:375px;
font-family: "Times New Roman", Times, serif;
background-color: #ffffff


}

aside{
  width:8%;
  height: 375px;
  //background-color:#000899;
  background-color: white;
  //background-color: #000000;
  font-family: "Times New Roman", Times, serif;

}

footer{
  width: 100%;
  height: 75px;
  //background-color: #47B1FF;
  //background-color: #000899;
  //background-color: #000000;
  background-color: white;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;


}
body{
  //background-color:#000899;
  background-color: #2A9AFF;
}

a{
  text-decoration: none;
  font-size:30px;
}
/* unvisited link */
a:link {
    color:#000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
 color: #000899;
}

/* selected link */
a:active {
    color: #000000;
